<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🏴‍☠️</title>
    <style>
        body{max-width:650px;margin:40px auto;padding:0 10px;}

.preview {
    margin-top: 2em;
}
</style>
</head>

<body>
    <pre>XX</pre>
    <div id="app">
        <form enctype="multipart/form-data" action="/" method="post">
            <input type="checkbox" id="useband" name="useband" v-model="checked" v-if="!dchecked">
            <label for="useband" v-if="!dchecked">set band</label>&nbsp;
            <input type="checkbox" id="dodelete" name="dodelete" v-model="dchecked" v-if="!checked">
            <label for="dodelete"  v-if="!checked">delete</label>
            <input type="number" v-if="checked" id="band" name="band" min=70 max=140 value="88.6" step="0.1" /><br>
            <input type="file" name="files" multiple />
            <input type="submit" value="upload" />
        </form>
        <div v-for="upload in uploads" class="preview">
            <pre>{{upload}}</pre>
            <audio controls>
                <source v-bind:src="upload" type="audio/ogg">
                Your browser does not support the audio tag.
            </audio>
        </div>
    </div>
    <script src="/static/vue.js"></script>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            dchecked: false,
            checked: false,
            uploads: []
        },
        created() {
            fetch("/uploads")
                .then(response => response.json())
                .then(data => (this.uploads = data.uploads));
        }
    })
    </script>
</body>

</html>
